
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 180px;
    padding: 4px;
}
.navbar{
    background-color: rgb(134, 200, 202);
    margin: 7px;
}
nav.navbar ul{  
    background-color: rgb(134, 200, 202);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column; 
}

nav.navbar ul a{
    color: rgb(63, 94, 95);
    display: block;
    height: 20px;
    padding: 10px;
    font-family: 'Urbanist', sans-serif;

}
.menu-mobile{
    color: rgb(63, 94, 95);   
}
.menu-mobile-close{
    color: rgb(63, 94, 95);
}

.body{
    height: 1000px;
    background-color: white;
}
form{
    display: block;
    padding: 5px;
}